@import url('https://fonts.googleapis.com/css?family=Roboto');
h1,h2,h3,h4,h5,h6,input,select {
    font-family: 'Roboto', serif;
    font-weight: 400;
}
.slides {
    position: relative;
}
.slick-slide.slick-active {
    z-index: 0
}
.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
}
.slick-prev {
    left: 3%;
}
.slick-next {
    right: 3%;
}
.slick-arrow.slick-prev {
    z-index: 1
}
@media(max-width:1500px){
    .slick-prev, .slick-next {
        position: absolute;
        top: 110%;
    }
    .slick-prev {
        left: 45%;
    }
    .slick-next {
        right: 45%;
    }
}